---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/search.json?client_id=f049003075804988ad05969f1f35422f&lat=37.7808851&lng=-122.3948632
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4996'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":[],"location":{"latitude":37.77841628,"name":"AT\u0026T
        Park","longitude":-122.389751095,"id":910270},"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1430533429","link":"https:\/\/instagram.com\/p\/2KaODByfmR\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpa1\/t51.2885-15\/s306x306\/e15\/11190223_882437321799794_282709807_n.jpg","width":306,"height":306},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpa1\/t51.2885-15\/s150x150\/e15\/11190223_882437321799794_282709807_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpa1\/t51.2885-15\/e15\/11190223_882437321799794_282709807_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1430533429","text":"Let''s
        go Angels!!!!","from":{"username":"mattstanford","profile_picture":"http:\/\/photos-g.ak.instagram.com\/hphotos-ak-xfp1\/t51.2885-19\/10956762_527870454020366_1984624927_a.jpg","id":"20614733","full_name":"Matt
        Stanford"},"id":"975707586245032136"},"type":"image","id":"975707583812336017_20614733","user":{"username":"mattstanford","profile_picture":"http:\/\/photos-g.ak.instagram.com\/hphotos-ak-xfp1\/t51.2885-19\/10956762_527870454020366_1984624927_a.jpg","id":"20614733","full_name":"Matt
        Stanford"}},{"attribution":null,"tags":["baybridge","mymikescamera","sanfrancisco","mikescamera","mikesmoments","mikescamerasf"],"location":{"latitude":37.785082502,"name":"San
        Francisco Bay bridge","longitude":-122.392037264,"id":215316158},"comments":{"count":0,"data":[]},"filter":"Normal","c[...]
