---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/search.json?client_id=f049003075804988ad05969f1f35422f&lat=-33.891&lng=151.2777&max_timestamp=1429632000&min_timestamp=1429617600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4986'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":["bonditobronte","selfie","bondibeach","bscdownunder2015","bscreallife"],"location":{"latitude":-33.89340908,"name":"South
        Bondi","longitude":151.273933397,"id":217260123},"comments":{"count":3,"data":[{"created_time":"1429636065","text":"\ud83d\udcab\ud83d\ude4c","from":{"username":"sancia_thelabel","profile_picture":"http:\/\/photos-h.ak.instagram.com\/hphotos-ak-xpa1\/t51.2885-19\/1389004_676103709163391_884145726_a.jpg","id":"3497507","full_name":"SANCIA"},"id":"968179949996701888"},{"created_time":"1429639994","text":"Superb!","from":{"username":"ivanscannell_model","profile_picture":"http:\/\/photos-g.ak.instagram.com\/hphotos-ak-xpa1\/t51.2885-19\/10661168_737102093005918_1199104034_a.jpg","id":"1508772052","full_name":"Ivan
        Scannell \ud83d\udca0Model\ud83d\udca0"},"id":"968212906706827445"},{"created_time":"1429656150","text":"@ivanscannell_model  You''re
        not too bad yourself! Hahaha","from":{"username":"blacksheepchic","profile_picture":"http:\/\/photos-f.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/10570188_740442436045421_547589647_a.jpg","id":"5208421","full_name":"Leslie
        Gauthier"},"id":"968348431916824780"}]},"filter":"Nashville","created_time":"1429631770","link":"https:\/\/instagram.com\/p\/1vicPTtXpx\/","likes":{"count":32,"data":[{"username":"krisy_321","profile_picture":"http:\/\/photos-h.ak.instagram.com\/hphotos-ak-xpa1\/t51.2885-19\/11189536_1089204974442895_1728703009_a.jpg","id":"402092656","full_name":"Kristin
        Mertz"},{"username":"campbellandhall","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xap1\/t51.2885-19\/10724679_721444834598362_999571541_a.jpg","id":"415470001","full_name":"\u2800\u2800\u2800\u2800\u2800\u2800\u2800\u2800\u2800\u2800Campbell
        \u0026 Hall"},{"username":"shela.do","profile_picture":"http:\/\/photos-g.ak.instagram.com\/hphotos-ak-xtp1\/t51.2885-19\/11116687_458535330973870_1474028224_a.jpg","id":"428077618","full_name":"Spam
        \u0026 Comment Me . \ud83d\udc7b"},{"username":"barbierkate","profile_picture":"http:\/\/photos-e.ak.instagram.com\/hphotos-ak-xpf1\/t51.2885-19\/10986113_673723366071412_1442603775_a.jpg","id":"458063865","full_name":"Katie
        Barbier"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s306x306\/e15\/11098212_1630180530547473_1074637207_n.jpg","width":306,"height":306},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e15\/11098212_1630180530547473_1074637207_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/e15\/11098212_1630180530547473_1074637207_n.jpg","width":640,"height":640}},"users_in_photo":[{"position":{"y":0.496,"x":0.749333333},"user":{"username":"blacksheepchic","profile_picture":"http:\/\/photos-f.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/10570188_740442436045421_547589647_a.jpg","id":"5208421","full_name":"Leslie
        Gauthier"}}],"caption":{"created_time":"1429631770","text":"First, let me
        take a #selfie \ud83d\ude06 these outside bathroom mirrors on the beach were
        sweet! #BSCDownUnder2015 #bscreallife #bonditobronte #bondibeach","from":{"username":"blacksheepchic","profile_picture":"http:\/\/photos-f.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/10570188_740442436045421_547589647_a.jpg","id":"5208421","full_name":"Leslie
        Gauthier"},"id":"968143920690461271"},"type":"image","id":"968143919071459953_5208421","user":{"username":"blacksheepchic","profile_picture":"http:\/\/photos-f.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/10570188_740442436045421_547589647_a.jpg","id":"5208421","full_name":"Leslie
        Gauthier"}},{"attribution":null,"tags":[],"location":{"latitude":-33.886005551,"longitude":151.277426144},"comments":{"count":2,"data":[{"created_time":"1429664398","text":"@lucindabilson","from":{"username":"lydiajasmine","profile_picture":"http:\/\/i[...]
