export INSTAGRAM_CLIENT_ID=f049003075804988ad05969f1f35422f
export INSTAGRAM_CLIENT_SECRET=d35ddfe6c7e0443398d7e8b545a50e04
export TWITTER_CONSUMER_KEY=AXNhetv2vPnYbIExhMjuVb1Al
export TWITTER_CONSUMER_SECRET=cJC6oJwEdD0k9h9co2WwDgigWJBgZmjIE9X3J3DMzwHReL9LJ7
export TWITTER_ACCESS_TOKEN=42308418-vkAt1rMFo1LmsYp1NSsTV6BpLxmWywlyGCtFUQsqK
export TWITTER_ACCESS_TOKEN_SECRET=SmxmJ9R7b0oqgexFPI1ewQF74DV4oYJMM0p7bMbOwJcy6