---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=e%20since:2015-04-21%20until:2015-04-23&result_type=popular
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="AXNhetv2vPnYbIExhMjuVb1Al", oauth_nonce="d2a10a2f2b920a90b48f574cceedfb8d",
        oauth_signature="nUD2HMKBoZy7zCZJhGqesoqVR60%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1429842359", oauth_token="42308418-vkAt1rMFo1LmsYp1NSsTV6BpLxmWywlyGCtFUQsqK",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 24 Apr 2015 02:26:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 645cc0d778cb98b36f6f8675c47a790d
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '172'
      X-Rate-Limit-Reset:
      - '1429842615'
      X-Response-Time:
      - '190'
      X-Transaction:
      - 9764786f4c030fe3
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"result_type":"popular","iso_language_code":"it"},"created_at":"Wed
        Apr 22 20:48:51 +0000 2015","id":590980606097543168,"id_str":"590980606097543168","text":"Ed
        \u00e8 semifinale!!!!! Avanti Juve!!!!","source":"\u003ca href=\"http:\/\/www.hootsuite.com\"
        rel=\"nofollow\"\u003eHootsuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":606211203,"id_str":"606211203","name":"Gianluigi
        Buffon","screen_name":"gianluigibuffon","location":"","profile_location":null,"description":"Portiere
        della Juventus e della Nazionale Italiana","url":"http:\/\/t.co\/R0RWhtdLgX","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/R0RWhtdLgX","expanded_url":"http:\/\/www.gianluigibuffon.it","display_url":"gianluigibuffon.it","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1871735,"friends_count":94,"listed_count":2957,"created_at":"Tue
        Jun 12 08:01:56 +0000 2012","favourites_count":17,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":2222,"lang":"it","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/488662325042245632\/K_EGhqSl_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/488662325042245632\/K_EGhqSl_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/606211203\/1405341651","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":2269,"favorite_count":1865,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"it"},{"metadata":{"iso_language_code":"pt","result_type":"popular"},"created_at":"Wed
        Apr 22 13:14:22 +0000 2015","id":590866234511650817,"id_str":"590866234511650817","text":"chegoooou
        o dia ;) e pra come\u00e7ar nosso #tirusday l\u00e1 em cima, vamos sortear
        um totem da @cocacolajeans\u2026 https:\/\/t.co\/Wdhv0rbPPm","source":"\u003ca
        href=\"http:\/\/instagram.com\" rel=\"nofollow\"\u003eInstagram\u003c\/a\u003e","truncated":false,"in_reply_to_sta[...]
