<h1>Moments#index</h1>
<p>Find me in app/views/moments/index.html.erb</p>

<form action="">
  <input type="date" placeholder="Choose a date">
  <input type="time" placeholder="Choose a time">
  <input type="text" placeholder="Enter a location">
  <button>Submit</button>
</form>
