<!DOCTYPE html>
<html>
<head>
  <title>MomentInTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="img-container">
  <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11356854_351568778371162_883515701_n.jpg">
</div>


<%#= yield %>

</body>
</html>
